html,
body {
     height: 100%;
}

.navbar {
     background-color: transparent;
}

body .navbar-nav {
     font-size: 17px;
}

.navbar-nav .nav-link::after {
     content: '';
     display: block;
     width: 0%;
     height: 4px;
     margin: auto;
     background-color: #5c21d4;
     transition: 0.3s;
}

.navbar-nav .nav-link:hover::after {
     width: 100%;
     color: black;
     font-weight: bolder;

}

.grad {
     font-size: 20px;
     color: #fff;
     background: rgb(78, 73, 227);
     background: linear-gradient(90deg, rgba(78, 73, 227, 1) 0%, rgba(105, 0, 199, 1) 100%);

}

.container {
     color: #fff;

}

.container h2 {
     padding-bottom: 1%;
     font-size: 50px;
}

.container p {
     font-size: 25px;
}

.container .headImg {
     padding-top: 17%;
}

@media (max-width:750px) {
     .container h2 {
          padding-top: 10%;
     }
}

.diffrent-set h3 {
     color: #37046b;
     font-size: 25px;
     text-align: center;
}

.diffrent-set p {
     color: #37046b;
     font-size: 20px;
     text-align: center;
}

.diffrent-set svg {
     background: rgb(78, 73, 227);
     background: linear-gradient(90deg, rgba(78, 73, 227, 1) 0%, rgba(105, 0, 199, 1) 100%);

}

.diffrent-set .fab {
     color: #37046b;
     font-size: 4rem;
     padding-bottom: 5%;

}

.diffrent-set .fas {
     color: #37046b;
     font-size: 4rem;
     padding-bottom: 5%;
}


.gallary-here h5 {
     color: #eee;
     font-size: 70px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.gallary-here {
     font-size: 20px;
     background: rgb(78, 73, 227);
     background: linear-gradient(90deg, rgba(78, 73, 227, 1) 0%, rgba(105, 0, 199, 1) 100%);

}


@media (max-width:750px) {
     .company-img img {
          padding-bottom: 10%;
     }

}

.lol {
     font-size: 25px;
     background: rgb(78, 73, 227);
     background: linear-gradient(90deg, rgba(78, 73, 227, 1) 0%, rgba(105, 0, 199, 1) 100%);

}

.lol img {
     size: 25%;
}

.about .card mb-3 {
     max-width: 1000px;
}

.about .bg-info {
     background: linear-gradient(298deg, rgba(78, 73, 227, 1) 0%, rgba(105, 0, 199, 1) 100%);
     border-radius: 50%;
     border-bottom-left-radius: 11.25rem !important;
     border-top-left-radius: 9.25rem !important;


}

.about .card {
     background-color: transparent;
     border-color: transparent;
     margin: 0%;
     color: #fff;
     font-family: 'Times New Roman', Times, serif;
}

.about .text-muted {
     color: #eee !important;
     font-size: 20px;
}

.about .card-title {
     margin-bottom: .5rem;
     font-size: 45px;
}

.about p {
     font-size: 20px;
     padding-top: 1rem;
}


.about .rounded-start {
     border-bottom-left-radius: 9.25rem !important;
     border-top-left-radius: 9.25rem !important;
}

@media (max-width:750px) {
     .about {
          padding: 20px 20px 20px 20px;
          text-align: center;
          justify-content: center;

     }

     .about p {
          font-size: 15px;
          padding-right: 15%;
     }

     .about .text-muted {
          font-size: 38px;
          padding-right: -23%;
          padding-left: 9%;
          padding-bottom: 92%;
     }

     .about .rounded-start {
          border-bottom-left-radius: 2.25rem !important;
          border-top-left-radius: 7.25rem !important;
     }
}





.call .container {
     color: #60676e;
     font-size: 22px;

}

.call .form-control {
     border-radius: 10px;
     font-size: 17px;
     border: 2px solid #9fabb7;

}

.call {
     padding-bottom: 8%;
}

.foooooter {
     background: rgb(78, 73, 227);
     background: linear-gradient(270deg, rgba(78, 73, 227, 1) 0%, rgba(105, 0, 199, 1) 100%);
}

.call .row {
     --bs-gutter-x: -0.5rem;
     --bs-gutter-y: 0;
     display: flex;
     flex-wrap: wrap;
     margin-top: calc(var(--bs-gutter-y) * -1);
     margin-right: calc(var(--bs-gutter-x) * -.5);
     margin-left: calc(var(--bs-gutter-x) * -.5);
}
.call .col{
     gap: 20px;
}
